* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(16, 16, 16);
}

#map {
  min-width: 900px;
  height: 1000px;
  display: flex;
  border: none;
  border-radius: 10px;
  cursor: grab;
}

#root {
  display: flex;
}

#titles {
  display: flex;
  color: aliceblue;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
#text {
  color: aliceblue;
  font-weight: bold;
  font-size: 12px;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons {
  font-size: 55px;
  padding: 20px;
  background-color: rgb(0, 136, 255);
  margin: 10px;
}

.input {
  color: aliceblue;
  background-color: aliceblue;
  border-radius: 5px;
}
